@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
  --fundo:    #0D0D0D;  /* preto profundo */
  --card:     #1E1E1E;  /* cinza escuro */
  --destaque: #E84C0E;  /* laranja forte */
  --texto:    #F5F5F5;  /* branco suave */
  --secundar: #B0B0B0;  /* cinza claro */
}

body{
    width: 100%;
    height: 10dvh;
    background-color: var(--fundo);
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(180deg, var(--fundo), #141414);
}

header > h1{
    font-size: 22px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: var(--texto);
    padding: 10px;
    margin-left: 10px;
    text-align: left;
}

span{
    color: var(--destaque);
}

i#burguer{
    display: flex;
    color: var(--texto);
    position: sticky;
    z-index: 99999;
    padding: 10px;
    margin-left: 100px;
    cursor: pointer;
}

#menu-lateral{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 66%;
    height: 100vh;
    background-color: var(--fundo);
    padding: 20px;
    transition: 0.3s;
    z-index: 9999;
}

#menu-lateral h2{
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--destaque);
    color: rgb(255, 255, 82);
    text-align: left;
    padding: 20px 0;
    margin: -20px -20px 0;
    border-radius: 5px;
}

#menu-lateral i{
    display: flex;
    color: var(--texto);
    margin: 5px;
}

#menu-lateral #zap{
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 1.3em;
    padding: 10px 10px;
    margin-top: auto;
    border-radius: 5px;
    background-color: rgb(0, 200, 0);
}

#menu-lateral:hover #zap{
    background-color: rgb(0, 161, 0);
    transition: 0.3s;
}

nav ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

nav li , a{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 1.4em;
    padding: 5px;
    cursor: pointer;
    color:  var(--texto);
}

nav li:hover {
    color: var(--destaque);
    transition: 0.3s;
}

div#horas{
    background-color: var(--card);
    color: var(--texto);
    width: 90%;
    font-size: 1.3em;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--destaque);
    padding: 3px;
    margin: 10px auto;
    margin-bottom: -30px;
}

main{
    background-color: var(--fundo);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

section#inicio{
    background-color: var(--fundo);
    color: var(--texto);
}

div#destaques{
    display: flex;
    flex-flow: column wrap;
    margin: 5px;
}

div#destaques > h3{
    text-align: left;
    font-family: Orbitron, sans-serif;
    font-size: 1.5em;
    padding: 15px 0px 5px 8px;
    margin: 15px 0px 5px 2px;
}

.burguer-semanal{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--card);
    margin: 5px;
    border: 5px solid var(--destaque);
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
}

.foto-burguer{
    width: 120px;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


div.titulo{
    line-height: 15px;
    font-size: 15px;
    margin:  10px;
}

div.titulo h2{
    color: var(--destaque);
    text-align: left;
    font-weight: bold;
    line-height: 1em;
}

div.descricoes p{
    font-size: 1em;
    text-align: justify;
    padding: 5px;
}

div.preco{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: bold;
    margin: 7px;
}

#btn{
    background: linear-gradient(45deg, #FF6B00, #FF8C42);
    color: var(--texto);
    font-weight: normal;
    padding: 5px;
    border-radius: 5px;
}

section#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--fundo);
    color: var(--texto);
}

.sobre-cards{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
}

div.card-sobre{
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
}

div.card-sobre p, i{
    font-size: 0.9em;
    color: var(--secundar);
}

div.card-sobre:hover{
    background-color: var(--destaque);
    color: var(--fundo);
    transition: 0.3s;
}

#cardapio, #contato{
    display: none;
    background-color: var(--fundo);
}

#cardapio .burguer-semanal{
    margin: 10px;
}

#cardapio h2{
    margin: 5px;
    background-color: var(--card);
    margin: 10px;
    color: var(--destaque);
    border-radius: 10px;
}

#cardapio div.descricao{
    color: rgba(255, 255, 255, 0.541);
    text-align: justify;
}

#cardapio .preco{
    color: var(--destaque);
    font-size: 1.2em;
    font-weight: bold;
}