@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
  --fundo:    #0D0D0D;  /* preto profundo */
  --card:     #1E1E1E;  /* cinza escuro */
  --destaque: #E84C0E;  /* laranja forte */
  --texto:    #F5F5F5;  /* branco suave */
  --secundar: #B0B0B0;  /* cinza claro */
}

body{
    width: 100%;
    height: 90vh;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(180deg, var(--fundo), #141414);
}

header > h1{
    font-size: 22px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: var(--texto);
    margin-left: 10px;
    text-align: left;
}

span{
    color: var(--destaque);
}

i#burguer{
    display: flex;
    color: var(--texto);
    margin-right: 25px;
}

nav ul{
    display: none;
    gap: 10px;
}

nav li , a{
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    list-style: none;
    font-size: 1.2em;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
    color:  var(--texto);
}

main{
    background-color: var(--fundo);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

section#inicio{
    background-color: var(--fundo);
    color: var(--texto);
}

div#destaques{
    display: flex;
    flex-flow: column wrap;
    margin: 5px;
}

div#destaques > h3{
    text-align: left;
    font-family: Orbitron, sans-serif;
    font-size: 1.5em;
    padding: 15px 0px 5px 8px;
    margin: 15px 0px 5px 2px;
}

.burguer-semanal{
    display: flex;
    flex-direction: row;
    background-color: var(--card);
    margin: 8px;
    border: 5px solid var(--destaque);
    border-radius: 10px;
}

.foto-burguer{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 120px;
}

div.titulo{
    line-height: 15px;
    font-size: 15px;
    margin:  5px 4px;
}

div.titulo h2{
    color: var(--destaque);
    text-align: left;
    font-weight: bold;
    line-height: 1em;
}

div.descrição p{
    font-size: 1em;
    text-align: justify;
    padding: 5px;
}

div.preco{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: bold;
    margin: 7px;
}

#btn{
    background: linear-gradient(45deg, #FF6B00, #FF8C42);
    color: var(--texto);
    font-weight: normal;
    padding: 5px;
    border-radius: 5px;
}

section#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--fundo);
    color: var(--texto);
}

.sobre-cards{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
}

div.card-sobre{
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
}

div.card-sobre p, i{
    font-size: 0.9em;
    color: var(--secundar);
}

div.card-sobre:hover{
    background-color: var(--destaque);
    color: var(--fundo);
    transition: 0.3s;
}